:root{
    --backgroundcolor:#282727;
    --focus:#3fd960;
    --shadow:#271828;
    --border: #cf27af;

    --font1: 1.5rem;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100dvh;
    font-family: 'Montserrat', sans-serif !important;
    color:white;
    text-shadow: 4px 3px 2px var(--shadow);
}

body {
    min-width: 300px;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    background-image: url(img/outerspace-70.gif);
    
}

.back{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url(img/fondo.png);
    background-size:auto;
    background-size: 20%;
    animation: mymove 15s ease-in 5s infinite alternate;
}

@keyframes mymove {
    0%{
        background-color: none;
    }
    50% {
    background-color: #cf27b024;
    }
    80% {
    background-color: #3fd96014;
    }
    100%{
        background-color: none;
    }
    
}

#border{
    width: 80%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    
    margin: auto;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 2.8rem #bc13fe;
    animation: pulsate 1s infinite alternate;  
}

#container{
    height: 100%;
    display: flex;
    flex-direction: column;
}

#header{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-bottom: 2px solid #9b71948a;
    padding: 5%;
    background: var(--backgroundcolor);
    
}

@keyframes pulsate {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {

        box-shadow:
        0 0 4px #fff,
        0 0 1px #fff, 
        0 0 9px #fff, 
        0 0 0px var(--border), 
        0 0 0px var(--border), 
        0 0 0px var(--border), 
        0 0 10px var(--border), 
        0 0 150px var(--border)
    
    }
    
    20%, 24%, 55% {        
        box-shadow: none;
    }    
}

h1{
    font-family: 'Orbitron', sans-serif;
    font-size:4rem;
    text-shadow: 4px 0px 0px #3fd960a3;
    transition: 1s;
} 

.fa-meteor{
    color:#fff;
}

.fa-meteor:hover{
    color: var(--focus);
    cursor: pointer;
} 

h4{
    font-family: 'Orbitron', sans-serif; 
    margin:0;
    font-weight: 340%;
}

.main{
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: auto;
    text-align: center;
    background-color: var(--backgroundcolor); 
}

/* Pantalla 1 */ 

#inicio, #transition, #pantalla-1, #seleccionEmpa, #seleccionPizza, #resumen, #resumen-detalle{
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 5% 0; 
    transition: 0.5s ease-in-out;
    opacity: 0;
}

#transition, #pantalla-1, #seleccionEmpa, #seleccionPizza, #resumen, #resumen-detalle{
    display: none;
    gap: 0;
}

#inicio{
    transition: 2s ease-in-out;
    font-size: xx-large;
    color: #3fd960;
    justify-content: center;
    align-items: center;
}

#inicio div {
    margin-bottom: 100px;
    text-transform: uppercase;
    letter-spacing: 1px;
    animation: ini-font 3s;
}

#inicio i{
    font-size:medium;
    
}

@keyframes ini-font {
    
    from{
        letter-spacing: 10px;
    }to{
        letter-spacing: 1px;
    }   
}

#pantalla-1{
   gap: 20px;
}

@keyframes pulsate-transition {
    
    0%, 10% {
        text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 9px #fff, 0 0 0px var(--border), 0 0 0px var(--border), 0 0 0px var(--border), 0 0 10px var(--border), 0 0 150px var(--border);
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
}

.number.pantalla1{
    font-size: 2rem;
}

.pregunta{
    display: flex;
    flex-direction: column;
    font-size: var(--font1);
    letter-spacing: 1px;
    font-family: 'Chakra Petch', sans-serif;
}

.pregunta div {
    display: flex;
    width: 30%;
    margin: auto;
    justify-content: space-around;
    padding: 15px 0;
    align-items: center
}

.selec-prod {
    width: 80%;  
    align-self: center;
    font-size: var(--font1);
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.selec-prod div {
    width: 300px;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
}

.selec-prod div span {
    height: 100%;
    width: 30%;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

img {
    height: 70px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
}

input[type="checkbox"]:checked {
    border-color: var(--focus);
}

.valor-prod{
    font-size: large;
}

.minimo{
    font-size: 1.2rem;
}

.precios {
    width: 320px;
    margin: auto;
    text-align: -webkit-center;
    margin-top: 15px;
}

.requerido-e, .requerido-p{
    display: none;
    color: var(--focus);
}

.precios span {    
    width: 90%;
    gap: 5px;
    justify-content:  flex-start;
}



.precios span img {
    height: 40px;
}

.valor-prod-p {
    width: 60%;
    color: #515151;
}

.precios span div{
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 30%;
}

.precios span div span{
    color: #515151;
}

span.\$ {
    width: fit-content;
}

input.number{
    border: none;
    background-color: transparent;
    color: var(--focus);
    width: 65px;
    text-align: center;
    font-size: 2rem;
    font-family: 'Chakra Petch', sans-serif;
    text-shadow: 4px 3px 2px var(--shadow);
    transition: 1s;
}

input.number:focus{
 outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input.precio{
    width: -webkit-fill-available!important;
    font-size: 1.6rem;
    margin: 2px;
}

.contador {
    min-width: 165px;
}

.mas, .menos{
    height: 30px;
    width: 30px;
    border-radius: 20%;
    border: none;
}

.menos:active, .mas:active {
    background-color: var(--focus);
}

div#user {
    display: flex;
    margin: auto;
    padding: 20px;
}

.button {
    cursor: pointer;
    display: flex;
    margin: 30px auto;
    font-family: 'Orbitron', sans-serif;
    font-size: 1rem;
    letter-spacing: 1.5px;
    padding: 5px 10px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    text-align: center;
    background-color: #3fd960;
    color: var(--backgroundcolor); 
    margin-bottom: 25px;
}

.button:disabled {
    background-color: #425a42;
}

/* Transition 1 */

.transition {
    display: none;
    position: absolute;
    flex-direction: column;
    margin-left: 142px;
    height: 68%;
    z-index: 1;
    opacity: 0;
}

.transtion-cont {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: fit-content;
    height: fit-content;
    margin: 20% auto;
    background-color: var(--backgroundcolor);
    filter: drop-shadow(2px 4px 6px black);
    gap: 15px;
}

#cant-comensales-empa {
    align-self: center;
    border: 1px solid #cf27af7a;
    border-radius: 10px;
    padding: 5px;
    width: 100px;
}

.button-transition {
    margin: 0;
    width:  fit-conten;
    align-self: center;
}

/* Pantalla 2 y 2Bis*/

.cant-comensales-empa {
    position: absolute;
    background: var(--backgroundcolor);
    box-shadow: 0px 5px 5px black;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.nombre{
    padding: 0 5px
}

#nombre, .custom{
    color: var(--focus);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--shadow);
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
    outline: none;
    font-size: 1.2rem;
    width: 200px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
border: 1px solid var(--backgroundcolor);
-webkit-text-fill-color: var(--focus);
-webkit-box-shadow: 0 0 0px 1000px var(--backgroundcolor) inset;
transition: background-color 5000s ease-in-out 0s;
}

#sabores-E, #sabores-P, .resumen-comensales{
    margin: 25px 0;
}

ul.total{
    padding: 0;
    border-top: 2px solid #9b7194;
}

li {
    justify-content: space-between;
    display: flex;
    font-size: 1.5rem;
    list-style: none;
    align-items: center;
    text-align: left;
}

li span, div span{
    display: flex;
    align-items: center;
    text-align: left;
}

.empanada{
    transition: 1s;
}

label.empanada, label .label-custom{
    margin-right: 16px;
}

label.empanada.label-custom {
    align-items: center;
    display: flex;
}

button.custom-button {
    width: 100px;
    height: 30px;
    color: var(--focus);
    background: var(--background);
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 30px;
}

span.button-sig-2 {
    padding-bottom: 25px;
}

/* transition 2 (pizzas)*/

#li-comensales {
    min-width: 60%;
    max-width: fit-content;
    margin: auto;
}

#li-comensales li{
    gap: 10px;
}

.input-pizza {
    width: 15px;
    height: 15px;
    border: 1px solid var(--focus);
    border-radius: 5px;
}

.input-pizza:checked{
    background-color: var(--focus);
}

#dif-cont {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#dif-cont li {
    justify-content: center;
}

#dif-cont li label i {
    font-size: x-large;
}

#dif-comensales {
    margin-bottom: 10px;
}

/* resumen */

#resumen{
    display: none;
    flex-direction: column;
    height: 100vh;
    width: 90%;
    margin: auto;
    padding: 5%;
}

h2{
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    letter-spacing: 2px;
    text-shadow: 1px 1px 5px var(--border);
    margin-bottom: 25px;
}

h3{
    font-family: 'Orbitron', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-shadow: 1px 1px 5px var(--border);
    margin-bottom: 25px;   
}

.border-top{
    border-top: 2px solid #9b7194;
    padding-top: 25px;
}

.resumen{
    margin-bottom: 0px;
    text-align: left;
    font-size: x-large;
}

.totalh3{
    font-size: 1.2rem;
    border-top: unset;
    padding: 0;
    margin: 0;
}

input.n-resumen, .re-check{
    width: 120px;
}

ul.resumen-comensales li:first-of-type{
    display: none;
}

/* resumen detalle */

#resumen-detalle{
    gap: 15px;
}

#resumen-detalle .h3{
 font-size: 1.3rem;
 margin-bottom: 10px;
}

#detalle-cont ul {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #9b7194;
}

#detalle-cont img{
    height: 35px;
    margin-left: 20px;
}

#detalle-cont .fa-solid{
    width: 100%;
    text-align: center;
}

#detalle-cont .fa-check {
    color: var(--focus);
}



::-webkit-scrollbar {
    background-color: var(--backgroundcolor);
    width: 1px;
}

::-webkit-scrollbar-thumb {
background: var(--border);
border-radius: 10px;
}

@media (max-width: 645px) {
    :root{
     --font1: 1.2rem;
    }

    #border {
        width: 90%;
        height: 90vh;
        margin: 5% auto;
    }

    .back{
        background-size: 30%;
    }

    #pantalla-1 {
        gap: 0px;
    }

    h1{
        font-size: 10vw;
    }

    img {
        height: 60px;
    }

    .transition{
        height: 68%;
        width: 90%;
        margin: 0;
    }

}

@media (max-width: 600px) {
    #header {
        height: 100px;
    }
    
    li{
        font-size: 1.3rem;
    }
}

@media (max-width: 500px){
    .precios {
        width: 100%;
    }

    .pregunta{
        padding-top: 20px;
    }

    .empanadas{
        width: 30px;
        font-size: 1.8rem;
    }

    label.label-empanada {
        width: 65%;
    }

    input#custom-nombre {
        width: 100%;
    }

    input#custom-nombre::placeholder {
        font-size: medium;
    }
    
    input.number.empanada {
        width: 45px;
    }

    input.n-resumen, .re-check{
        font-size: 1.5rem;
        width: 50px;
        text-align-last: center;
    }

    .re-total{
        width: 90px!important;
    }
    
    input.pantalla1{
        width: 90px
    }

    li{
        font-size: 1.2rem;
        padding: 3px 0;
    }

    .mas:not(.pantalla1), .menos:not(.pantalla1){
        height: 25px;
        width: 25px;
    }
} 

